In [54]:
import pandas as pd
import os
DAT_DIR = './dat/yearly/'

def get_data(f):
    yr = int(f.replace('.csv',''))
    df = pd.read_csv(DAT_DIR + f).iloc[:,1:]
    df['Year'] = yr
    return yr, df
    
dd = [get_data(f) for f in os.listdir(DAT_DIR)]
dd = {k:v for k,v in dd}

# Weekly

In [1]:
import pandas as pd
import os
DAT_DIR = './dat/weekly/'

df = pd.read_csv('./dat/weekly/2004/week1.csv')

In [2]:
def get_valid_files(pth):
    return filter(lambda x: x!= '.DS_Store', os.listdir(pth))

ll = []

for sub_folder in get_valid_files(DAT_DIR):
    cur_dir = os.path.join(DAT_DIR, sub_folder)
    for week_file_name in get_valid_files(cur_dir):
        df = pd.read_csv(os.path.join(cur_dir, week_file_name))
        df['Year'] = int(sub_folder)
        df['Week'] = int(week_file_name.replace('week','').replace('.csv',''))
        ll.append(df)
        
    print(f'Done with {cur_dir}.')

Done with ./dat/weekly/2013.
Done with ./dat/weekly/2014.
Done with ./dat/weekly/2015.
Done with ./dat/weekly/2012.
Done with ./dat/weekly/2008.
Done with ./dat/weekly/2001.
Done with ./dat/weekly/2006.
Done with ./dat/weekly/2007.
Done with ./dat/weekly/2000.
Done with ./dat/weekly/2009.
Done with ./dat/weekly/2017.
Done with ./dat/weekly/2010.
Done with ./dat/weekly/2019.
Done with ./dat/weekly/2018.
Done with ./dat/weekly/2011.
Done with ./dat/weekly/2016.
Done with ./dat/weekly/1999.
Done with ./dat/weekly/2005.
Done with ./dat/weekly/2002.
Done with ./dat/weekly/2003.
Done with ./dat/weekly/2004.

## EDA

In [3]:
df_all = pd.concat(ll)
df_all = df_all[~df_all[['Player','Year','Week']].duplicated()]
df_all = df_all.sort_values(['Player','Year','Week'])
df_all.reset_index(drop = True, inplace = True)
#df_all['Tm'] = df_all['Tm'].str.replace('SDG','LAC').str.replace('OAK','LAR').str.replace('LAR','LVR')

In [4]:
len(set(df_all['Player']))

3628

In [5]:
len(set(df_all['Pos']))

137

In [6]:
len(set(df_all['Tm']))

34

In [7]:
df_vs = df_all[['Year','Week','Tm']].drop_duplicates().reset_index(drop = True)

In [8]:
df_all[['Year','Week','Tm','Pos']].drop_duplicates().groupby(['Year','Week','Tm'])['Pos'].count()

Year  Week  Tm
1999  1     ARI    5
            ATL    4
            BAL    5
            BUF    4
            CAR    5
                  ..
2019  17    SEA    4
            SFO    5
            TAM    4
            TEN    5
            WAS    4
Name: Pos, Length: 10704, dtype: int64

In [9]:
df_all[df_all['Player'] == 'Eli Manning'].iloc[27,:]

Player                   Eli Manning
Pos                               QB
Tm                               NYG
PassingYds                       256
PassingTD                          1
Int                                0
PassingAtt                        33
Cmp                               23
RushingAtt                         4
RushingYds                         6
RushingTD                          0
Rec                                0
Tgt                                0
ReceivingYds                       0
ReceivingTD                        0
FL                                 0
PPRFantasyPoints               14.84
StandardFantasyPoints          14.84
HalfPPRFantasyPoints           14.84
Year                            2006
Week                               5
Name: 33381, dtype: object

In [10]:
res = df_all['Pos'].value_counts().head(20) / len(df_all)
print(res)
print()
print(res.cumsum())

WR      0.362523
RB      0.238674
TE      0.165513
QB      0.129947
FB      0.057010
HB      0.013959
P       0.003763
CB      0.003589
RB/K    0.001611
C       0.001611
RCB     0.001356
LCB     0.001295
FL      0.001285
SE      0.001152
S       0.001101
RB-K    0.000908
FS      0.000887
WR/K    0.000734
DB      0.000714
WR-K    0.000510
Name: Pos, dtype: float64

WR      0.362523
RB      0.601197
TE      0.766710
QB      0.896657
FB      0.953666
HB      0.967625
P       0.971388
CB      0.974977
RB/K    0.976588
C       0.978199
RCB     0.979556
LCB     0.980851
FL      0.982135
SE      0.983288
S       0.984389
RB-K    0.985296
FS      0.986183
WR/K    0.986918
DB      0.987631
WR-K    0.988141
Name: Pos, dtype: float64

In [11]:
reload2019 = True
if reload2019:
    # 538: https://github.com/fivethirtyeight/nfl-elo-game
    df_games = pd.read_csv('https://projects.fivethirtyeight.com/nfl-api/2019/nfl_games_2019.csv')
    df_games.to_csv('./dat/scores/scores2019.csv', index = False)
else:
    df_games = pd.read_csv('./dat/scores/scores2019.csv')
    
df_games = pd.concat([df_games, pd.read_csv('./dat/scores/nfl_games.csv')])
df_games['date'] = pd.to_datetime(df_games['date'])
df_games['DayOfWeek'] = df_games['date'].dt.dayofweek
df_games = df_games.sort_values(['date','team1','team2']).reset_index(drop = True)

In [12]:
first_games = df_games.groupby('season')['date'].min().reset_index()

Interestingly the day of week of the first game of the season has varied quite a bit and fallen on every day of the week but Monday or Tuesday. After the Super Bowl Era began, it was mostly on a Sunday, though a few seasons started on Friday/Saturday. Although it [seems](https://en.wikipedia.org/wiki/Thursday_Night_Football) Thursday Night Football did not debut until 2006-2007 season, the introduction of the season starting on a Thursday actually coincides with the debut of the [NFL Kickoff Game](https://en.wikipedia.org/wiki/NFL_Kickoff_Game) during the 2002-2003 season. Thus, the date from that page is probably related to the *brand* "Thursday Night Football" not the actual debut of football occurring on a Thursday. In fact, football occurred on Thursdays all the way back to 1920.  Note that the Wednesday Kickoff Game during the 2012-2013 season was due to [a conflict with the 2012 DNC](https://en.wikipedia.org/wiki/2012_NFL_season#Other_highlights). 

Based on this quick analysis, we are going to define the "Football Week" as Wednesday through the following Tuesday.

In [13]:
pd.options.display.max_columns = 999

df_ct = df_games.groupby(['season','DayOfWeek'])['date'].count().reset_index()
df_ct['date'] = 1
df_ct = df_ct.pivot(index = 'DayOfWeek', columns = 'season', values = 'date').fillna(0)
df_ct = pd.DataFrame(df_ct.values.astype(int), columns = df_ct.columns, index = df_ct.index)
df_ct

season,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
DayOfWeek,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,1,1,1,1,1,1,1,0,0,1,0,0,0,0,1,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,0,0,0,0,1,1,1,1,1,1,1,0,0,0,1,1,0,1,0,0,0,1,0,0,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,1,0,1,1,1,0,1,1,1,1,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,1,1,1,0,0,0,0,0,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
5,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,0,1,1,0,1,0,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [14]:
df_ct.sum(axis=1)

DayOfWeek
0     70
1     16
2     15
3     96
4     34
5     89
6    100
dtype: int64

In [15]:
df_games.groupby('DayOfWeek')['season'].min()

DayOfWeek
0    1921
1    1924
2    1925
3    1920
4    1927
5    1920
6    1920
Name: season, dtype: int64

In [16]:
pd.to_datetime(first_games['date']).dt.dayofweek.value_counts()

6    58
3    17
5    12
4    12
2     1
Name: date, dtype: int64

In [17]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize = (16,9))
dates = first_games['date']
plt.plot(dates, dates.dt.dayofweek, marker = 'x', linestyle = '')
plt.yticks(ticks = [2, 3, 4, 5, 6], labels = ['Wed.', 'Thurs.', 'Fri.', 'Sat.', 'Sun.'])
plt.axvline(pd.to_datetime('1966-04'), color = 'black', label = 'Super Bowl Era')
plt.axvline(pd.to_datetime('2002-04'), color = 'grey', label = '2002-2003 Season')
plt.legend()
plt.tight_layout();

In [18]:
first_games['DayOfWeek'] = first_games['date'].dt.dayofweek
first_games['FirstDayOfSeason'] = first_games['date'] - pd.TimedeltaIndex(first_games['DayOfWeek'] - 2, unit = 'D')

In [19]:
df_games = df_games.merge(first_games[['season','FirstDayOfSeason']], on = 'season', validate = 'm:1')
df_games['DaysSinceFirstDayOfSeason'] = (df_games['date'] - df_games['FirstDayOfSeason']).dt.days

In [20]:
df_games['week'] = 1 + (df_games['DaysSinceFirstDayOfSeason'] // 7)

In [21]:
df_games['week'].value_counts().sort_index()

1      910
2     1007
3     1015
4     1017
5     1023
6     1018
7     1024
8     1015
9     1025
10    1037
11    1056
12    1031
13     964
14     913
15     796
16     703
17     518
18     208
19     147
20      68
21      19
22      27
Name: week, dtype: int64

As a few sanity checks:

* The seasons where there *is* a week 22 are from 1991 onward (albeit not consistently)
* The first game of the 2020-2021 season was on `'2020-09-30'`. This is a Thursday so the true first day of the season is `'2020-09-02'` (a Wednesday). And 22 weeks and 4 days later takes us to `'2020-02-07'`, Super Bowl Sunday.

In [22]:
sorted(df_games[df_games['week'] == 22]['season'].unique())

[1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 2000,
 2001,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019]

In [23]:
pd.to_datetime('2020-09-03') + pd.Timedelta(days = 22 * 7 + 4)

Timestamp('2021-02-08 00:00:00')

#